--no-cache-dir
vkbottle==4.3.12
pydantic==1.10.26
aiohttp==3.13.5
Pillow==12.2.0
Jinja2==3.1.6
WeasyPrint==68.1
upstash-redis==1.7.0
loguru==0.7.3
sentry-sdk==2.59.0
aiofiles==22.1.0
watchfiles==0.18.1
